<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- faz o scan do projeto para colocar os componentes no contexto do spring -->
       <!--
              <context:component-scan base-package="com.redick.persistencia"/>
              <context:component-scan base-package="com.redick.service"/>
              <context:component-scan base-package="com.redick.view"/>
       -->

       <!-- rastreando o UsuarioController -->
       <bean id="UsuarioController" class="com.redick.view.controller.UsuarioController" />


       <import resource="spring-mvc.xml" />

</beans>